page-tour-detail {
    #map {
        height: 360px;
        width: 100%;
        line-height: auto;
        img {
            max-width: none;
            border: 0;
        }
    }
    ion-content {img {width: 100%; height: auto;}}
}
