// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.btn-default {
    border-radius: 20px;
    padding: 6px 20px;
    color: #fff;
    background-color: #a4d29e;
}

.menu-inner {
	.input-wrapper {margin-left: 6rem;}
	.item > ion-icon, .item-inner > ion-icon {
	    min-height: 2.8rem;
	    font-size: 2.8rem;
	    line-height: 1;
	    position: absolute;
	    left: 15px;
	    bottom: -2px;
	}
}
